@import url(https://fonts.googleapis.com/css?family=VT323);





html{
  font-family: 'VT323', monospace ;
	font-size: 24px;
}



body{
  background-color: #403126;
}

/* MAP background image*/
.map_background{


  
background-image: url(/src/img/MAP/map-1000x1000.png);
width:900px;
height: 500px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

/* Main buttons position */
.bottom_Pos{
  position: absolute;
 bottom: 100px;
 left: 33%;
right: 50%;   
width: 90%;       
}

/* Doors Positions */
.door_pos{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 32%;
  right: 100%;
  top: -50px;
 
}

.left_door{
  width: 300px;
  height: 300px;
  position: absolute;
  left: -12%;
  bottom: 95px;

}

.right_door{
  width: 300px;
  height: 300px;
  position: absolute;
  right: -11.5%;
  bottom: 95px;

}



.char_posation{
 height: 70px;
 width:70px;
 position: absolute;
right: 50%;
left: 45%;
bottom: 0;

}


/* Buttons */
.btn{
  background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
  width: auto;
  font-family: 'VT323', monospace ;
	font-size: 24px;

}

.btn.primary {
background: #631406;	
font-size: 30px;
}

.btn.primary:hover{        
background: #A81000;
}

.btn.secondary {
background: #043804;
font-size: 30px;
}

.btn.secondary:hover{
 background: #006800;
}
.btn.tertiary {
background: #0E0440;
font-size: 30px;
}

.btn.tertiary:hover{
background: #0000FC;
}

.btn.ans{
  font-size: 15px;
  min-width: 15px;
}

.btn.ans.left{
  position: absolute;
  left: 5px;
  bottom: 135px;

}
.btn.ans.right{
  position: absolute;
  right: 5px;
  bottom: 135px;

}

.btn.ans.center{
  position: absolute;
  right: 50%;
  left: 41%;
  top: 159px;
  width: 150px;
  text-align: center;

}


/* SCORE container*/

.score_container{
  position: absolute;
  /* top: 100px; */
  left: 43%;
  right: 50%;
  width: 100%;    
  color: white;

}

#restart{
  background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
  width: auto;
  font-family: 'VT323', monospace ;
	font-size: 24px;
}



/* Loading page */

.loadPage{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}