@import url(https://fonts.googleapis.com/css?family=VT323);

body{
  font-family: 'VT323', monospace ;
  font-size: 24px;
  background-color: #403126;
}





/* NAV  and footer components */

nav{
  height: 100px;
  width: 100%;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/271724616138986442/7F086645618571807CC422374286AA311A8CC4A5/);
  margin-bottom: 20px;
  font-family: ;
}



.info{
  font-family: 'VT323', monospace ;
  font-size: 24px;
  color: aliceblue;
  padding: 30px 0 0 10px;
  
}

footer{
  background-color: #442005;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}


p{
  color: white;
  font-size: 20px;
  padding: 10px;
}



/* Background position */

.mapBackground{
background-image: url(/src/img/MAP/map-1000x1000.png);
height: 650px;
width: 1000px ;

}

.mapPosition{
  margin: 0;
  width: 100%;
}


.character{
  position: absolute;
  /* right: 50%; */
  left: 45%;
  top: 80%;
  height: 80px;
  width: 80px;
}

/* Doors Positions */
.doors{

  height: 300px;
  width: 300px;
}

.doors.left{
  position: absolute;
    right: 760px;
    top: 200px;
}

.doors.right{
  position: absolute;
    left: 760px;
    top: 200px;
}

.doors.top{
  position: absolute;
  left: 321px;
  bottom: 400px;
}


/* buttons */



.buttonsPoistion{
 position: relative;

  /* margin: auto; */
  margin-left: 700px;

}


.btn {
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	min-width: 150px;
	/* padding: .2rem; */
	text-transform: uppercase;
  /* width: auto; */
  font-family: 'VT323', monospace ;
  font-size: 50px;
	
	
}

.btn.primary {
	background: #881400;
	
}

.btn.secondary {
	background: #005800;
	
}

.btn.tertiary {
	background: #0000BC;
	
	
}


/* answer buttoms */

.answer{
  position: absolute;
  min-width: 10px;
  font-weight: 100;
  padding: 5px;
  font-size: 20px;
}

.answer.up{
  left: 41%;
  bottom: 450px;
}

.answer.right{
  right: 91%;
  top: 410px;
}

.answer.left{
  left: 90%;
  top: 411px;
}